<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
    <h1>Hello world</h1>
    <h2>Hello world</h2>
    <h3>Hello world</h3>
    <h4>Hello world</h4>

    {% if user %}
    <h4>Current name:  {{ user.username }}</h4>
    {% endif %}

    <ul>
        {% for name in usernames %}
        <li><h3>{{ name }}</h3>></li>
        {% endfor %}
    </ul>


    <form action="{{ url_for('index') }}" method="post">
        <a href="{{ url_for('blog_info', page='food', line='world') }}">sume link</a>
        <p>Set new user name:</p>
        <input type="text" name="username">
        <button type="submit">Submit</button>
    </form>


</body>
</html>